/************PRELOADER************/
.preload {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100000000;
    background: #003366;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preload div {
    width: 30vh !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.preload.loaded {
    opacity: 0;
}

.preload div img:last-of-type {
    margin-top: -12vh;
    -webkit-animation: mover2 .6s infinite alternate;
    animation: mover2 .6s infinite alternate;
}

@-webkit-keyframes mover2 {
    0% {
        transform: translateX(2em);
    }

    100% {
        transform: translateX(-2em);
    }
}

@keyframes mover2 {
    0% {
        transform: translateX(2em);
    }

    100% {
        transform: translateX(-2em);
    }
}

.breadcrumb-thumbnail-group .thumbnail::before {
    border: unset !important;
}

@media only screen and (max-width: 767px) {
    #homepage .paralax-area {
        padding: 5vh 0;
    }

    #homepage .axil-slide.slide-style-default .content h1 {
        line-height: 1!important;
    }

    .section-title .text-left.mt-5 {
        padding-left: 0!important;
    }

    .purpose .section-title {
        padding: unset !important;
    }


    .axil-call-to-action-area .row .instastory:nth-child(2) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .axil-call-to-action-area .row .instastory:nth-child(3) {
        margin-bottom: 2rem;
    }

    .footer-default.footer-style-3 .android {
        display: none !important;
    }

    .footer-top.ax-section-gap {
        padding: 60px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .haeder-default.header-transparent {
        padding: 30px 0 0;
    }
}

.popup-mobile-manu {
    z-index: 9999;
}

.popup-mobile-manu .inner {
    border: unset !important;
}

.topskew-thumbnail-group .thumbnail::before {
    border: unset !important;
}

.purpose,
footer {
    z-index: 999 !important;
}

.axil-scroll-navigation .nav {
    z-index: 3;
}

.hide {
    display: none !important;
}

.course-syllabus li {
    grid-template-columns: 13em 50px 1fr;
}

/* User Logged In */
.sidebar__user {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    height: 62px;
    border-radius: 12px;
    color: #11142D;
    cursor: pointer;
    -webkit-transition: background .25s;
    -o-transition: background .25s;
    transition: background .25s;
  }
  
  .sidebar__user:hover, .sidebar__user.active {
    background: var(--prim-accent);
    color: #ffffff;
  }
  
  .sidebar__user:hover .sidebar__status, .sidebar__user.active .sidebar__status {
    color: #ffffff;
  }
  
  .sidebar__user:hover .icon, .sidebar__user.active .icon {
    fill: #ffffff;
  }
  
  .sidebar__ava {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
  }
  
  .sidebar__ava .sidebar__pic {
    width: 100%;
    min-height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .sidebar__arrow {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 0;
  }
  
  .sidebar__arrow .icon {
    font-size: 16px;
    fill: #11142D;
  }
  
  .sidebar__desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 64px);
    flex: 0 0 calc(100% - 64px);
    /* width: calc(100% - 64px); */
    padding: 0 5px 0 16px;
  }
  
  .sidebar__man {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 600;
  }
  
  .sidebar__status {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #808191;
  }
  .sidebar__user{
    padding: 0;
  }
  .sidebar__ava{
    margin: 0;
  }
  .sidebar__man{
    font-size: var(--size-s-1);
  }
  .sidebar__status{
    font-size: var(--size-s-2);
  }
  .sidebar__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 72px;
    padding: 0 40px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
  }  
/* End User Logged In */

.axil-breadcrumb-area.breadcrumb-style-default.register {
  padding: unset;
  padding-top: 30px !important;
}
.icon-overview{
  width: 2.5em;
  height: 1.1em;
}
.value-img{
  height: 200px;
}
.under-detail_included-value > div > div:first-of-type {
  display: block !important;
}
.flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 30px;
}
.flex-wrapper .portfolio{
  width: calc(100% / 3 - 30px);
  position: relative !important;
  left: 0 !important;
  top: unset !important;
}
.h-auto{
  height: auto !important;
}
.class-payment-card{
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 10%);
  border-bottom: 15px solid;
}
a.trending__tag:active, a.trending__tag:hover {
  outline: 0;
  background: #0d4c8a;
  color: #fff !important;
  opacity: 1 !important;
}
@media (max-width: 767px) {
    .flex-wrapper .portfolio{
      width: 100% !important;
    }
}
.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.img-thumb{
  width: 50%;
  max-width: 350px;
}
.paragraph-center{
  text-align: center;
  width: 80%;
  margin-bottom: 15px;
  font-size: 18px !important;
}
.dark-bg{
  background: var(--blue-midnight);
  
}
.dark-bg h2{
  color: #fff;
}

.d-block {
  display: block;
}