@media (min-width: 1200px){
    .ax-section-gap {
        padding: 60px 0;
    }
    
}
@media (max-width: 1199px) {
    .hero-image{
        width: 100%;
    }
    .ax-section-gap {
        padding: 60px 0;
    }
    #homepage .axil-client-area {
        margin-bottom: 30px;
    }
    .program-section > div > .row {
        margin-bottom: 30px;
    }
    .instastory a {
        padding: 1em;
        height: unset;
    }
    .instastory img {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .axil-scroll-nav.navbar.navbar-example2.is-affixed .nav {
        width: 100% !important;
        position: fixed !important;
        top: 92px !important;
        transform: unset !important;
    }
    nav.is-affixed + * + * + * + * + * + *,
    nav.is-affixed + * + * + * + * + *,
    nav.is-affixed + * + * + * + *,
    nav.is-affixed + * + * + *,
    nav.is-affixed + * + *,
    nav.is-affixed + *{
        padding-top: 0 !important 
    }

    .sidebar__desc{
        display: none;
    }
    .coursecard_area{
        position: relative;
        flex-direction: column;
    }
    .floating-card {
        width: 100% !important;
        position: relative !important;
        padding: 0;
        margin-top: 30px !important;
        top: 0 !important;
    }
    .floating-card.fixed {
        position: relative !important;
        top: unset !important;
    }
    .coursecard_area {
        width: 100%;
    }
    .course-syllabus li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 45px;
    }
    .course-syllabus_heading {
        text-align: left !important;
    }
    .course-syllabus_content {
        padding: 0;
    }
    .axil-breadcrumb-area {
        padding-top: 25vh !important;
    }
    .axil-breadcrumb-area.breadcrumb-unset-height{
        height: unset;
        padding-top: 140px !important;
        padding: 30px 0;
    }
    #homepage .paralax-area {
        padding: 60px 0 !important;
        height: 100vh !important;
    }
    .insta-thumb .instastory{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .axil-slide.slide-style-default .topskew-thumbnail-group .thumbnail img {
        width: 70%;
        margin: auto;
        display: flex;
    }
    #homepage .paralax-area .content {
        padding: 0;
        text-align: center;
    }
    .axil-breadcrumb-area {
        padding-top: 150px !important;
    }
    .areaSignup .container {
        margin-top: 60px !important;
    }
    .hero-image-main{
        width: 100%;
    }
    .subtitle-2{
        font-size: 21px !important;
    }
    .ax-section-gap {
        padding: 60px 0 !important;
    }
    .products__table {
        table-layout: auto;
    }
}
@media (max-width: 767px) {
    .whitebox{
        width: 100%;
    }
    .profile_header {
        flex-direction: column;
    }
    .name_wrapper {
        padding-left: 0;
        margin-top: 15px;
    }
    .subtitle-2{
        font-size: 18px !important;
    }
    .axil-slide.slide-style-default .topskew-thumbnail-group .thumbnail img {
        width: 100%;
    }
    #homepage .topskew-thumbnail-group .thumbnail img.vert-move{
        width: 50%;
        display: flex;
        margin: auto;
    }
    #homepage .axil-counterup:after, #homepage .topskew-thumbnail-group .thumbnail::before, .axil-service .inner::before, .axil-service .inner::after, .axil-blog .content .content-wrap::after {
        margin: 15px 30px;
    }
    .flex-wrapper{
        flex-direction: column;
      }
      .flex-wrapper .portfolio{
        width: 100% !important;
      }
      .areaSignup .container .wrapperSignup .signup-cardHolder .cardSignup-row label {
        top: -8px;
    }
}
@media (min-width: 320px) {
    .axil-scroll-nav.navbar.navbar-example2.is-affixed .nav{
        z-index: 999999;
    }
}

#homepage .axil-counterup {
    width: 100%;
}