/*@import url('particle.css');*/
@media (max-width:1440px){
    :root{
        --scale:1.2;
        --base: 13px
    }
}
@media (min-width:1440px){
    :root{
        --scale:1.25;
        --base: 14px;
    }
}

:root {
    
/*=============Modular Scale Typography============*/
    /* Don't change the lines below, you only need to change the --scale above. */
    --size-l-1: calc(var(--base) * var(--scale));
    --size-l-2: calc(var(--size-l-1) * var(--scale));
    --size-l-3: calc(var(--size-l-2) * var(--scale));
    --size-l-4: calc(var(--size-l-3) * var(--scale));
    --size-l-5: calc(var(--size-l-4) * var(--scale));
    --size-l-6: calc(var(--size-l-5) * var(--scale));
    --size-l-7: calc(var(--size-l-6) * var(--scale));
    --size-l-8: calc(var(--size-l-7) * var(--scale));
    --size-s-1: calc(var(--base) / var(--scale));
    --size-s-2: calc(var(--size-s-1) / var(--scale));
    --size-s-3: calc(var(--size-s-2) / var(--scale));

    
/*=============Color Base Rule============*/
    /*====Main Color====*/
    --blue-midnight: #003366;
    --blue-sky:#87cdea;
    --yellow-gorse: #f9e03c;
    --black-russian: #0e0f26;
    
    /*====Secondary Color====*/    
    --yellow-corn:#fbe663;
    --yellow-picasso: #fcec8a;
    --yellow-gold: #B39B05;
    --blue-summer:#25a9e0;
    --blue-cerulean: #007ba7;
    --blue-dark-cerulean:#0d4c8a;
    --blue-oxford: #002147;
    --grey-chateau:#a2a4a6;
    --white-snow: #f9f9f9;
    
    /*====Black Tints/Neutral Palette====*/
    --black-100: var(--black-russian);
    --black-90: #26273c;
    --black-80: #3e3f51;
    --black-70: #565767;
    --black-60: #6e6f7d;
    --black-50: #878793;
    --grey-50: #9f9fa8;
    --grey-40: #b7b7be;
    --grey-30: #cfcfd4;
    --grey-20: #e7e7e9;
    --grey-10: var(--white-snow);
    --white: #fff;
    
    /*====Tints of Blue Sky=====*/
    --blue-sky-30: #D1EDF8;
    
    --red : #FF9999;
    --red-darker : #990000;

    --green : #99FFCE;
    --green-darker : #009950;


    /* ACCENT PRIMARY INITIATION */
    --prim-accent: var(--blue-dark-cerulean);
}

/*==========Base Style=========*/
html, button, input, select, textarea,
body{
    font-family: "Poppins", sans-serif;
    font-size: var(--base);
    font-weight: 500;
    color: var(--black-100);
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
}
a, a:hover, a:focus{
    text-decoration: none;
}
a:hover, a:focus{
/*
    color: var(--blue-cerulean);
    text-decoration: underline;
*/
}

.bigtitle, h1, h2, h3, h4, h5, h6{
    color: var(--blue-midnight);
    font-family: "Space Grotesk", serif;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1.25;
}
.bigtitle{
    font-size: var(--size-l-7);
}
h1 {
    font-size: var(--size-l-6);
}
h2{
    font-size: var(--size-l-5);
}
h3 {
    font-size: var(--size-l-4);
}
h4{
    font-size: var(--size-l-3);
}
h5{
    font-size: var(--size-l-2);
}
h6{
    font-size: var(--size-l-1);
    font-weight: bold;
    line-height: 1.5
}
p{
    font-size: var(--base)!important;
    line-height: 2!important;
    color: var(--black-90)
}

/* CUSTOM ICONS */
.icon-ux,
.icon-sketchbook,
.icon-reminder,
.icon-histogram,
.icon-first,
.icon-trophy,
.icon-info,
.icon-money,
.icon-edit,
.icon-checked{
    width: 1em;
    height: 1em;
}
.icon-arrow-down-fat {
width: 1.33em;
height: 1em;
fill: #FFF;
}  
.icon-arrow-left {
width: 0.6em;
height: 1em;
fill: #11142D;
}  
.icon-arrow-next-fat {
width: 1.3em;
height: 1em;
fill: #11142d;
}  
.icon-arrow-next {
width: 1.2em;
height: 1em;
fill: #11142D;
}  
.icon-arrow-prev {
width: 1.2em;
height: 1em;
fill: #11142d;
}  
.icon-arrow-right {
width: 0.6em;
height: 1em;
fill: #11142D;
}  
.icon-arrow-up-fat {
width: 1.33em;
height: 1em;
fill: #FFF;
}  
.icon-arrows {
width: 0.63em;
height: 1em;
fill: #11142d;
}  
.icon-bag {
width: 0.95em;
height: 1em;
fill: #1b1d21;
}  
.icon-bell {
width: 0.92em;
height: 1em;
fill: #11142D;
}  
.icon-box {
width: 1.13em;
height: 1em;
fill: #11142D;
}  
.icon-chart {
width: 1em;
height: 1em;
fill: #1b1d21;
}  
.icon-chat {
width: 1em;
height: 1em;
fill: #1b1d21;
}  
.icon-close {
width: 1em;
height: 1em;
fill: #1B1D21;
}  
.icon-comment {
width: 1em;
height: 1em;
fill: #1B1D21;
}  
.icon-discovery {
width: 1em;
height: 1em;
fill: #1b1d21;
}  
.icon-document {
width: 0.95em;
height: 1em;
fill: #1b1d21;
}  
.icon-dots-border {
width: 4em;
height: 1em;
fill: #11142D;
}  
.icon-download-fat {
width: 0.94em;
height: 1em;
fill: #11142d;
}  
.icon-download {
width: 0.95em;
height: 1em;
fill: #7fba7a;
}  
.icon-edit {
width: 1em;
height: 1em;
fill: #11142D;
}  
.icon-editor-bold {
width: 0.83em;
height: 1em;
fill: #fff;
}  
.icon-editor-italic {
width: 0.5em;
height: 1em;
fill: #808191;
}  
.icon-editor-pic {
width: 1.08em;
height: 1em;
fill: #808191;
}  
.icon-editor-smile {
width: 1em;
height: 1em;
fill: #808191;
}

.icon-folder {
width: 1.06em;
height: 1em;
fill: #11142D;
}  
.icon-like {
width: 1em;
height: 1em;
fill: #fff;
}  
.icon-logout {
width: 1em;
height: 1em;
fill: #1b1d21;
}  
.icon-message {
width: 1.11em;
height: 1em;
fill: #1b1d21;
}  
.icon-moon {
width: 1em;
height: 1em;
fill: #3f8cff;
}  
.icon-more {
width: 1em;
height: 1em;
fill: #1B1D21;
}  
.icon-notification {
width: 0.91em;
height: 1em;
fill: #1b1d21;
}  
.icon-overview {
width: 0.95em;
height: 1em;
fill: #fff;
}  
.icon-plus-square {
width: 1em;
height: 1em;
fill: #FFF;
}  
.icon-print {
width: 1em;
height: 1em;
fill: #11142d;
}  
.icon-profile {
width: 0.81em;
height: 1em;
fill: #1b1d21;
}  
.icon-remove {
width: 1em;
height: 1em;
fill: #11142D;
}  
.icon-search {
width: 1em;
height: 1em;
fill: #11142D;
}  
.icon-settings {
width: 0.91em;
height: 1em;
fill: #1b1d21;
}
.icon-star {
width: 1em;
height: 1em;
fill: #1B1D21;
}
.icon-sun {
width: 1em;
height: 1em;
fill: #3f8cff;
}
.icon-wallet {
width: 1.1em;
height: 1em;
fill: #1b1d21;
}