/*========Customize Dashboard=========*/

.h2 {
  font-size: var(--size-l-6);
}
.h5 {
  font-size: var(--size-l-2);
}

.btn_purple:hover {
  background: var(--blue-cerulean);
  color: white;
}

.sidebar__item-active {
  background: var(--blue-midnight);
}
.sidebar__item {
  font-weight: 500 !important;
}

.sidebar__ava {
  margin: 0;
}

.page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__row_head .page__col {
  padding-top: 48px;
}

.page__row_border .page__col:nth-child(2) {
  border-left: 1px solid #e4e4e4;
}

body.dark .page__row_border .page__col:nth-child(2) {
  border-color: rgba(228, 228, 228, 0.1);
}

.page__row_border .page__col:nth-child(2) {
  border: none;
}

.header__head {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  height: 62px;
  border-radius: 12px;
  color: var(--blue-midnight);
  cursor: pointer;
  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
  width: auto;
}
.header__item_browse .header__head,
.header__line .header__text{
  font-weight: 500;
}
.header__item_browse {
  width: auto;
}
.header__item .header__body{
  background: var(--blue-cerulean);
  padding: 1em 1.5em;
}
.header__item_browse .header__body:after,
.header__item_add .header__body:after {
  bottom: 99.5%;
    width: 22px;
    height: 7px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='5' viewBox='0 0 16 5'%3E%3Cpath fill='%23007ba7' fill-rule='evenodd' d='M62.6,1.8 L57,6 L57,6 L73,6 L67.4,1.8 C65.9777778,0.733333333 64.0222222,0.733333333 62.6,1.8 Z' transform='translate(-57 -1)'/%3E%3C/svg%3E%0A") no-repeat 50% 50%/100% auto;
}
.header__item_browse .header__body:before, 
.header__item_add .header__body:before{
  background: var(--blue-cerulean);
  opacity: .5;
}
a.header__line{
  margin-bottom: .5em;
  border-radius: 8px;
  padding-left: .5em;
}
a.header__line:hover{
  background: var(--blue-dark-cerulean);
}
a.header__line:hover .header__text{
  color: white;
}
.header__burger-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  position: absolute;
}
.header__burger-logo img:last-of-type {
  display: none;
}
.header_logo {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 7em;
  margin-left: -2em;
}

body.dark .header__burger-logo img:first-of-type {
  display: none;
}
body.dark .header__burger-logo img:last-of-type {
  display: block;
}
@media only screen and (max-width: 1023px){
  
  .sidebar__desc {
    display: none;
  }
  .sidebar__user {
    padding: 0;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1023px) {
  .header__burger-logo {
    display: none;
  }
  .header__burger {
    z-index: 10;
  }
  .header__burger-logo img {
    width: 30%;
  }
  .header__item_browse {
    /* display: none; */
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .header__head {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header_logo{
    display: flex;
  }
  .sidebar {
    top: 10vh;
    width: 100%;
    height: calc(100vh - 10vh);
    padding: 0 0 64px;
  }

  .header__item_profile .header__head .sidebar__desc {
    display: none;
  }
}
@media only screen and (max-width: 474px) {
  .header__burger {
    z-index: 10;
  }
  .header__burger-logo img {
    width: 50%;
  }
  .header__item_profile .header__head {
    padding: 0;
    border-radius: 50%;
    background: transparent !important;
  }

  .sidebar__wrapper {
    margin-top: -4px;
  }
}

.sidebar {
  z-index: 111;
}
.sidebar__top {
  justify-content: space-around;
}
.sidebar__inner {
  width: auto;
}
.sidebar__caption {
  margin-bottom: 1em;
}
.page__wrapper {
  padding-top: 74px;
  padding-top: 10vh;
}

.page__wrapper .header {
  /* height: 74px; */
  height: 10vh;
}

.page__center {
  padding: 4em !important;
}
.page__wrapper .page__center.inside_class {
  display: block;
  position: relative;
  padding: 0;
  max-height: 90vh;
  overflow-y: scroll;
  max-width: none;
}
.header__item_profile {
  position: absolute;
  right: 5%;
}
.header__item_profile .header__body {
  box-shadow: 0px 24px 64px rgb(0 0 0 / 15%);
  background: white;
}
.sidebar__item .sidebar__text {
  font-size: var(--base) !important;
}
.caption-sm {
  font-size: var(--size-s-1) !important;
}
.page__row_head .page__col {
  padding-top: 0;
  padding-bottom: 3em;
}

.slider__preview {
  padding: 0;
  position: absolute;
  right: 0;
}

.slider__pic {
  margin-top: -40%;
}

.slider__item {
  padding: 32px 0 32px 32px;
}

.page__widgets {
  flex-wrap: wrap;
}
.page__widgets .widget.widget_shadow {
  width: 100%;
  flex: auto;
  box-shadow: 1px 5px 10px #efefef;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1023.5px) {
  .page__wrapper {
    padding-left: 0;
  }
}
@media only screen and (max-width: 425px) {
  .page__wrapper {
    padding-left: 0;
  }
  .page__center {
    padding-top: 3em!important;
  }
  .page__center .page__row:nth-child(2) .col-lg-8 {
    margin-top: 4em;
  }
  .slider__item {
    flex-wrap: wrap-reverse;
    padding-left: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 321px) {
  .page-wrapper {
  }
}

.categories__item_sm {
  padding-right: 32px;
  box-shadow: 0px 24px 64px rgb(0 0 0 / 5%);
  transition: box-shadow ease-in-out 0.5s;
}
.categories__item_sm:hover {
  box-shadow: 0px 24px 64px rgb(0 0 0 / 15%);
  transition: box-shadow ease-in-out 0.5s;
}

.widget__item.type_bootcamp .widget__info span:before {
  display: inline-block;
  content: "- ";
  padding-right: 4px;
}
.widget__category {
  padding: 8px 0;
}

.learning_statistic {
  padding: 0;
  display: flex;
  margin-bottom: 1em;
  margin-left: .5em;
  font-size: var(--size-s-1);
}
.learning_statistic div:first-child {
  padding-right: 1em;
}
.categories .progress,
.trending .progress{
  height: 8px;
}
.learning_buttonGroup {
  /* margin-top: 1em; */
  padding: 0%;
}

.learning_buttonGroup .btn {
  margin-top: 1em;
  height: auto;
  min-width: auto;
  padding: 12px;
}
.categories__item_big .categories__tag {
  background: rgba(0, 51, 102, 0.5);
}
/* ========= TAMPILAN INFO KELAS ======= */
.player__wrap{
  left: -3em;
}
.player__top{
  margin-left: 3em;
}
.player__group{
  margin-right: 1em;
  max-height: 300px;
}
.player__game{
  height: auto;
  padding: .75em 1em;
  font-size: var(--size-l-1);
}
.player__game .player__ava {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__game .player__ava .icon{
  fill: var(--blue-oxford)
}
.player__game.active .player__ava .icon{
  fill: white;
}
.player__option{
  font-weight: 500;
}
.catalog_channel{
  position: relative;
  border-radius: 32px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  background: #F0F3F6;
  display: flex; 
  justify-content: center;
}
.catalog__nav{
  margin-top: 2em;
  padding-bottom: 5em;
}
.player__wrapper{
  margin-top: -5em;
  margin-bottom: 3em;
}
.catalog__nav .catalog__link:first-child{
  padding: 12px 24px;
}
.infoclass-unpaid-button{
  background: var(--red);
  color: var(--red-darker);
}
.infoclass-unpaid-button .icon{
  fill: var(--red-darker);
}
.infoclass-unpaid-button:hover .icon{
  fill: white;
}
.infoclass-unpaid-button:hover{
  background: var(--red-darker);
  color: white;
}
.player__option.infoclass-tosylabus{
  background: var(--blue-midnight);
  color: white;
}
.player__option.infoclass-tosylabus:hover{
  background: var(--blue-cerulean);
}
.infoclass{
  display: flex;
  flex-direction: column;
}
.infoclass > div{
  margin-bottom: 1.5em;
}
.infoclass ul{
  list-style: auto;
  margin-left: 1.75em;
  line-height: 2em;
  margin-top: .25em;
}
.infoclass > div:last-of-type{
  margin-top: 1em;
  /* position: absolute;
  bottom: 0;
  width: 80%; */
}
.infoclass > div:last-of-type .btn{
  width: 100%;
  background: transparent;
  font-weight: 600;
  margin-bottom: .5em;
}
.infoclass > div:last-of-type svg{
  margin-right: .45em;
  height: .75em;
}
.infoclass > div:last-of-type .infoclass-tosylabus{
  color: var(--blue-midnight);
  border: 2px solid var(--blue-midnight);
}
.infoclass > div:last-of-type .infoclass-tosylabus svg{
  fill: var(--blue-midnight);
}
.infoclass > div:last-of-type .infoclass-unpaid-button{
  color: var(--red-darker);
  border: 2px solid var(--red-darker);
}
.infoclass
.infoclass-unpaid,
.infoclass-paid,
.infoclass-paying{
  display: block;
  padding: .5em 1em;
  display: inline-block;
  border-radius: 5em;
  font-size: var(--size-s-1);
  margin: .5em 0;
}
.infoclass-unpaid{
  background: var(--red);
  color: var(--red-darker);
}
.infoclass-paid{
  background: var(--green);
  color: var(--green-darker);
}
.infoclass-paying{
  background: var(--yellow-picasso);
  color: var(--yellow-gold);
}

@media only screen and (max-width: 1259px){
  .player__wrapper{
    padding: 0;
  }
  .player__list {
    position: initial;
  }
  .infoclass{
    padding-top: 3em;
  }
  .infoclass > div:last-of-type{
    position: initial;
  }
}
@media screen and (max-width: 1023px) {
  
}
@media only screen and (max-width:767px){
  .player__wrap{
    left: 0;
  }
}

/*========== TAMPILAN KELAS */
.class__breadcrumb {
  margin: -10px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.class__breadcrumb li.in__breadcrumb-item {
  font-size: var(--size-s-1);
  line-height: 24px;
  padding: 10px;
  position: relative;
}

.class__breadcrumb li.in__breadcrumb-item:first-child {
  padding-left: 0;
}
.class__breadcrumb li.in__breadcrumb-item + .in__breadcrumb-item::before {
  position: absolute;
  background: #757589;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  left: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}

.inside__class {
  position: relative;
  padding: 0;
  min-height: 100vh;
}
.class__sylabus {
  /* background-color: aqua; */
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 2em 1em;
}
.checkbox{
  cursor: default;
}
.checkbox__text{
  font-size: var(--base);
  font-weight: 500;
  margin-left: 1em;
  color: var(--black-100);
}
.class__progress:hover .checkbox__text,
.class__progress.active .checkbox__text,
.class__progress.done:hover .checkbox__text{
  color: white!important;
}
.class__module {
  /* padding: 0; */
}
.class__module-content {
  padding: 3em;
  position: relative;
  right: 0;
  height: auto;
}

.class__unittitle {
  overflow: hidden;
  position: relative;
  min-height: 10vh;
}

.class_unittitle h3 {
  margin-bottom: 0.15em;
}

.class_unittitle h6 {
  margin-bottom: 1.5em;
  font-family: "Poppins", sans-serif;
  font-size: var(--base);
  font-weight: 500;
  opacity: 0.7;
}

.class_control {
  display: flex;
  background-color: white;
  /* box-shadow: 0px -5px 5px var(--grey-20); */
  /* position: fixed; */
  right: 0;
  bottom: 0;
  /* height: 10vh; */
  padding: 0;
  margin: 1em 0;
}
@media screen and (max-width: 1024px) {
  .class_control {
    /* display: none; */
    position: sticky;
    top: 80%;
    bottom: 0;
  }
}
.class_control .control span {
  /* height: 100%; */
  font-size: var(--size-s-1);
}
.class_control > div {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding: 0;
}
.class_control > div:last-of-type {
  justify-content: flex-end;
}
.class_control div > a{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em .5em;
  border-radius: 8px;
  border: 1px transparent solid;
}
.class_control div:last-of-type > a{
  justify-content: flex-end;
}
.class_control div > a:hover{
  border: 1px solid var(--blue-midnight);
  text-decoration: underline;
}
.prev,
.next {
  background-size: contain;
  background-repeat: no-repeat;
  width: 3vh;
  height: 3vh;
  margin: 0 1em;
}
.prev.x1 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}
.next.x1 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}
.class_control > div:last-of-type {
  text-align: right;
}
.unit-markasdone{
  text-align: center;
  margin: 3em;
}
.unit-markasdone .btn{
  background: var(--blue-midnight);
  color: white;
  fill: white;
}
.unit-markasdone .btn span{
  margin-right: .5em;
}
.area-input_tugas div{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.area-input_tugas .icon{
  height: 10px;
  fill: var(--blue-cerulean);
}
.area-input_tugas form{
  display: flex;
    flex-direction: column;
    width: 100%;
}
.insideclass-input_tugas{
  background-color: var(--grey-20);
    padding: 1.25em 1em;
    font-size: var(--base);
    height: auto;
    margin: 1em 0;
    border: 1px solid var(--grey-30);
    border-radius: 8px;
}
.class__videoplayer {
  height: 50vh;
  background-color: gray;
  margin-bottom: 1em;
}

.class_unit-predescription,
.class_unit-postdescription {
  margin: 1em 0;
}
.class_unit-predescription h1,
.class_unit-postdescription h1{
  font-size: var(--size-l-5);
}
.class_unit-predescription h2,
.class_unit-postdescription h2{
  font-size: var(--size-l-4);
}
.class_unit-predescription h3,
.class_unit-postdescription h3{
  font-size: var(--size-l-3);
}
.class_unit-predescription h4,
.class_unit-postdescription h4{
  font-size: var(--size-l-2);
}
.class_unit-predescription h5,
.class_unit-postdescription h5{
  font-size: var(--size-l-1);
}
.class_unit-predescription p,
.class_unit-postdescription p{
  margin-bottom: 1em;
}
.class_unit-predescription ul,
.class_unit-postdescription ul{
  list-style: inside;
  margin-bottom: 1em;
}
.class_unit-predescription ol,
.class_unit-postdescription ol{
  list-style: decimal
}
.class__modulearea {
  display: flex;
  flex-direction: column;
}

.class__modulearea > .class__progress {
  padding-left: 0;
}
.class__progress input {
  display: block;
  width: 2em;
  height: 1em;
  background: silver;
  border-radius: 4px;
  margin-right: 1em;
}

.class__modulename,
.class__unitname {
  font-weight: 500;
}

.class__modulearea .class__unit {
  /* margin-left: 3em; */
}
.class__progress {
  display: flex;
  align-items: flex-end;
  padding: .5em 1em;
  /* border: 1px solid; */
  border-radius: 4px;
  margin-bottom: 4px;
}
.class__progress.done{
  background: var(--grey-10);
}
.class__unit .class__progress:hover,
.class__progress.active {
  background: var(--blue-midnight);
  color: white;
}
.class__unit {
  display: block;
}
@media only screen and (max-width: 1200px) {
  .class__module-content {
    padding: 1em;
  }
}
@media only screen and (max-width 1023ox) {
  .class__module-content > div:first-child,
  .class__module-content .class_unittitle {
    padding: 0 2em;
  }
}
@media only screen and (max-width: 767px) {
  .inside_class {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-bottom: 10vh;
  }
  .class__module-content {
    position: relative;
    padding: 0;
  }
  .class__sylabus {
    position: relative;
    padding: 1em;
  }
}
.catalog__nav .catalog__link.active:before {
  width: 60%;
  left: 20%;
}
/* =========TUGAS */
.page__stat {
  position: relative;
  padding: 50px 32px 40px;
  border-radius: 24px;
  background: #ffffff;
}
.page__stat:before {
  content: "";
  position: absolute;
  top: 43px;
  left: 32px;
  right: 32px;
  bottom: -43px;
  z-index: -1;
  background: #E3E6EC;
  opacity: 0.91;
  -webkit-filter: blur(86.985px);
  filter: blur(86.985px);
  border-radius: 24px;
}
.sorting:not(:last-child) {
  margin-bottom: 15px;
}
.page__stat_sm .sorting {
  position: absolute;
  top: 32px;
  right: 40px;
}
.mobile-show {
  display: none;
}
.sorting__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}
.sorting__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 16px);
  flex: 0 0 calc(50% - 16px);
  width: calc(50% - 16px);
  margin: 0 8px;
}
.sorting__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sorting__line .sorting__search {
  margin-right: 45px;
}
.sorting__search {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.sorting__open {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 55px;
  font-size: 0;
}
.sorting__open .icon {
  font-size: 20px;
  fill: #11142D;
  -webkit-transition: fill .25s;
  -o-transition: fill .25s;
  transition: fill .25s;
}
.sorting__dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}
.sorting__dropdowns .dropdown {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 16px);
  flex: 0 0 calc(50% - 16px);
  width: calc(50% - 16px);
  margin: 0 8px;
}
.sorting__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sorting__action:not(:last-child) {
  margin-right: 24px;
}
.sorting__action {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 0;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.sorting__action .icon {
  font-size: 17px;
  fill: #11142D;
}
.sorting__input {
  width: 100%;
  height: 56px;
  padding: 0 20px 0 55px;
  border: none;
  border-radius: 16px;
  background: rgba(228, 228, 228, 0.2);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1B1D21;
}
.sorting:not(:last-child) {
  margin-bottom: 15px;
}
.page__stat_sm .sorting {
  position: absolute;
  top: 32px;
  right: 40px;
}
.dropdown {
  position: relative;
}
.dropdown__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  padding: 0 46px 0 21px;
  border: 2px solid transparent;
  background: rgba(228, 228, 228, 0.3);
  border-radius: 16px;
  font-weight: 600;
  color: #808191;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dropdown__body {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 20;
  width: 310px;
  padding: 32px;
  border: 1px solid #E4E4E4;
  background: #ffffff;
  border-radius: 24px;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 20px 16px rgb(227 230 236 / 60%);
  box-shadow: 0 20px 16px rgb(227 230 236 / 60%);
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.dropdown__item:not(:last-child) {
  margin-bottom: 24px;
}
.dropdown__item {
  display: block;
}
.dropdown__title {
  position: relative;
  margin-bottom: 3px;
  padding-right: 30px;
  color: #11142D;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.caption {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.38462;
}
.dropdown__info {
  color: #808191;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.products > .products__title {
  margin-bottom: 16px;
}
.products > .products__info {
  margin-bottom: 20px;
  color: #808191;
}.products__table {
  display: table;
  width: 100%;
}.products__more {
  padding-top: 40px;
  text-align: center;
}.products__row {
  display: table-row;
}.products__body {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 24px 24px;
  padding: 4px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
}products__cell:first-child {
  width: 20px;
  padding: 0;
  font-size: 0;
}
.products__status{
  padding: .5em 1em;
  width: 5.5em;
  border-radius: 12px;
  font-size: var(--size-s-1);
  color: white;
  font-weight: 400;
}
.products__row_head .products__cell {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 13px;
  line-height: 1.38462;
  font-weight: 500;
  color: #B2B3BD;
}
.products__cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E4E4E4;
}.products__bg {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 4px;
}.products__cell:first-child {
  width: 20px;
  padding: 0;
  font-size: 0;
}
.player__wrapper.class__tugas{
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 5em;
  margin-top: -3.5em;
  margin-bottom: 0;
}
.page__row.class__status{
  padding: 2em;
  padding-bottom: 6em;
  background: #F0F3F6;
  margin-top: -6em;
}
.products__cell:first-child {
  width: auto; 
  padding: auto;
  font-size: inherit;
  min-width: 100px;
}
.page__row.class__quiz{
  padding: 2em;
  padding-bottom: 2em;
  background: #F0F3F6;
  margin-top: -4em;
}
.quality_big .quality__list {
  margin: -8px -16px;
}
.quality_big .quality__item:not(:last-child) {
  margin-bottom: 24px;
}
.quality_big .quality__item {
  position: relative;
  padding: 8px 16px;
  background: transparent;
  border-radius: 12px;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.quality__item:not(:last-child) {
  margin-bottom: 48px;
}
.quality__item[href] {
  color: #11142D;
}
.quality__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.quality_big .quality__item:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 10px;
  right: 10px;
  height: 0;
  border-radius: 0 0 8px 8px;
  background: #CFC8FF;
  -webkit-transition: height .25s;
  -o-transition: height .25s;
  transition: height .25s;
}
.quality_big .quality__preview {
  position: relative;
  width: 88px;
  height: 80px;
  margin-right: 24px;
}
.bg-pink-opacity {
  background: rgba(255, 162, 192, 0.3);
}
.quality__preview {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: 14px;
  border-radius: 12px;
  font-size: 0;
}
.quality_big .quality__preview:before {
  content: "";
  position: absolute;
}
.quality__preview .quality__pic {
  max-height: 100%;
}
.quality__details {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.quality__category {
  position: relative;
  padding-right: 20px;
}
.quality__category .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  -o-transition: transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}
.quality__info {
  margin-top: 5px;
  color: #808191;
}
.quality__money {
  display: inline-block;
  margin-top: 8px;
  padding: 3px 10px;
  background: #6C5DD3;
  border-radius: 8px;
  color: #ffffff;
}
.tugas-update{
  background-color: var(--grey-20);
  padding: 6px 16px 6px 20px;
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .35s ease-in-out all;
  -webkit-transition: .35s ease-in-out all;
  -moz-transition: .35s ease-in-out all;
  -ms-transition: .35s ease-in-out all;
  -o-transition: .35s ease-in-out all;
}
.tugas-update svg{
  line-height: 1.5;
  font-size: 20px;
}
.tugas-update:hover{
  background: #FF754C;
  color: white;
  transition: .35s ease-in-out all;
  -webkit-transition: .35s ease-in-out all;
  -moz-transition: .35s ease-in-out all;
  -ms-transition: .35s ease-in-out all;
  -o-transition: .35s ease-in-out all;
}
.tugas-update:hover svg{
  fill: wheat;
  transition: .35s ease-in-out all;
  -webkit-transition: .35s ease-in-out all;
  -moz-transition: .35s ease-in-out all;
  -ms-transition: .35s ease-in-out all;
  -o-transition: .35s ease-in-out all;
}
#popup-tugas-update .popup__details{
  padding-left: 0;
}
@media only screen and (max-width: 768px){
  .page__center{
    padding:2em!important;
  }
  .player__wrapper.class__latest{
    background: #f0f3f6;
    margin-bottom: 6em;
    padding: 2em;
  }
  #popup-tugas-update .popup__text {
      margin-left: 0px;
  }
  .player__wrap{
    margin-left: -2em;
    margin-right: -2em;
    margin-top: -10px;
    padding-bottom: 2em;
  }
  .player__stage.h5{
    font-family: 'Poppins', sans-serif;
    letter-spacing: -.75px;
    font-size: var(--size-l-1);
  }
  .player__box .player__title{
    font-family: 'Poppins', sans-serif;
    font-size: var(--size-l-3);
    line-height: 2;
  }
  .player__top{
    margin-left: 0;
    margin-right: 3em;
    font-size: var(--size-s-1);
    padding-top: 2em;
    margin-bottom: 1em;
  }
  .player__group{
    margin: 0;
  }
  .player__wrapper.class__latest,
  .catalog_channel,
  .class__status,
  .class__tugas{
    margin-left: -2em;
    margin-right: -2em;
  }
  .catalog_channel{
    margin-top: 4em;
  }
  .class__status{
    flex-direction: column;
  }
  .class__tugas{
    background: #f0f3f6;
  }
  .details_big .details__title{
    padding:1em;
    padding-bottom: 0;
  }
  .details_big .details__item{
    padding: 2em;
  }
  .page__row.class__status:not(.page__row_head):not(.page__row_responsive) .page__col:nth-child(2){
    margin-top: -3em;
  }
}

