@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
::-webkit-input-placeholder {
    color: var(--grey-40);
    font-weight: 500;
}
:-ms-input-placeholder { 
    color: var(--grey-40);
    font-weight: 500;
}
::placeholder {
    color: var(--grey-40);
    font-weight: 500;
}
a.link{
    text-decoration: underline;
    color: var(--prim-accent);
}
.btn{
    padding: 1em 1.5em
}
a.btn,
a.btn:active,
a.btn:focus{
    color: white;
}
.btn_purple:active,
.btn_purple:focus{
    color: white!important;
}
a.btn:focus{
    opacity: .7;
}
a.btn.bg-purple:hover,a.btn.bg-purple:focus{
    color: var(--yellow-gorse);
    background-color: var(--blue-midnight);
}
a.btn.bg-purple:hover .icon,
a.btn.bg-purple:focus .icon{
    fill: var(--yellow-gorse)
}
.btn-danger{
    background:hsl(0,100%,40%);
}
.btn-danger:hover{
    background: var(--red-darker);
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FIELD STYLE */

.field{
    padding-top: 1em;
    
}
.field .small-info{
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 1em .5em 2em;
    color: var(--blue-cerulean);
}
.field .small-info > div:first-of-type{
    font-size: .8em;
    display: flex;
    align-items: center;
    align-self: center;
}
.field .small-info > div:last-child{
    font-size: .85em;
    font-style: italic;
}
.field .small-info .icon{
    fill: var(--blue-cerulean);
}
.field__label{
    font-size: .95em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    color: var(--blue-dark-cerulean);
}
#field-kode_afiliasi .field__input{
    text-transform: uppercase;
}
.field__input, .field__textarea{
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--grey-40)
}
.field__input:not(:placeholder-shown) ,
.field__textarea:not(:placeholder-shown) {
    border-color: var(--blue-midnight);
    /* background: rgba(228, 228, 228, 0.15); */
    background: white
}
/* END OF FIELD STYLE*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* SELECT SEARCH */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--grey-40);
    width: 100%;
    border-radius: 8px;
}
.bootstrap-select>.dropdown-toggle{
    border: none!important;
    border-radius: inherit;
}
.bs3.bootstrap-select .dropdown-toggle .filter-option{
    display: flex;
    align-items: center;
}
.btn-default:active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default,
.btn-default:active:hover, 
.btn-default.active:hover, 
.open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open > .dropdown-toggle.btn-default:focus, 
.btn-default:active.focus, 
.btn-default.active.focus, 
.open > .dropdown-toggle.btn-default.focus{
    background-color: var(--grey-10);
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
    outline: none!important;
    background-color: var(--grey-10);
}
.filter-option-inner-inner{
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

/* ================== */
/* BREADCRUMB */
.breadcrumb{
    padding:1em 0;
}
.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
  }
  .breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
  .breadcrumb-item a{
      color: var(--blue-midnight);
      border-bottom: 1px solid var(--blue-midnight);
      padding-bottom: .5em;
  }
  .breadcrumb-item a:hover{
    color: var(--blue-cerulean);
    border-color: var(--blue-cerulean);
  }
  .breadcrumb-item.active {
    color: var(--black-80);
    border-bottom:none;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
  }
/* ================== */

.page__wrapper {
  /* background: var(--grey-10); */
}
.player__note{
    color: var(--black-60);
}
.afiliasi_report .page__col:first-child ,
.afiliasi_report .page__col:nth-child(2){
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.afiliasi_saldo{
    position: relative;
    z-index: 1;
}
.afiliasi_report .afiliasi_saldo .details__container{
    background-color: var(--blue-midnight);
    /* background-color: var(--green-darker); */
    border: none;
    overflow: hidden;
}
.afiliasi_report .afiliasi_saldo .details__head.h5,
.afiliasi_report .afiliasi_saldo .details__counter{
    color: white;
    font-weight: 500;
}
.afiliasi_report .afiliasi_komisi_stat .details__container {
  /* background: #ffebf6; */
  border: 1px solid var(--grey-20);
  padding: 1em
}

.afiliasi_komisi_stat .details_statements{
    width: 100%;
}
.afiliasi_report .details__list {
  /* border-color: var(--grey-20); */
  width: 100%;
  border: none;
  display: inline-flex;
  flex-wrap: wrap;
}
/* .afiliasi_report .details__title{
    display: flex;
    margin: 1em;
    margin-top: 0;
} */

.afiliasi_saldo .details__head.h5{
    margin-top: 1em;
}
.afiliasi_saldo .details__counter{
    margin-bottom: .75em;
}
.afiliasi_report .afiliasi_saldo .icon{
    fill: white;
}
.afiliasi_saldo .btn{
    background: var(--yellow-corn);
    border: none;
    font-weight: 600;
    color: var(--blue-oxford);
}
.afiliasi_saldo .btn:hover{
    background: var(--yellow-picasso);
}
.afiliasi_saldo .btn:active{
    background: var(--yellow-gorse);
}
.afiliasi_report .details__head.h5 {
  font-size: 1.1em;
}
.afiliasi_report .icon {
  padding-top: 2px;
  margin-right: 0.25em;
}
.afiliasi_report .details__row {
  display: block;
}
.afiliasi_report .details__item {
  width: 33.3%;
  flex: 0 0 33.3%;
  background: white;
  padding:1em 1.25em;
}
.afiliasi_report .details__item > div:not(:first-child){
    position: relative;
    z-index: 1;
}
.details__item:not(:last-child) {
  /* border-right-color: var(--grey-20); */
  border: none;
}
.afiliasi_report .afiliasi_saldo .details__item:first-of-type {
  background: transparent;
  width: 100%;
  flex: 0 0 100%;
  border: none;
  color: var(--blue-midnight);
}
.afiliasi_report .afiliasi_komisi_stat .details__counter {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0.7em;
}

.afiliasi_saldo_icon{
    position: absolute;
    z-index: 0;
    width: 35%;    
    right: 5%;
    top: 25%;
    background: var(--blue-oxford);
    /* background: darkgreen; */
    border-radius: 100px;
    
}
.afiliasi_saldo_icon img{
    margin-top: -3em;
    margin-bottom: 5em;
}
/* ==================== */
/* AFILIASI MENU */

.afiliasi_menu, .afiliasi_kpi{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5em 1em;
    justify-content: space-around;
    gap: .5em;
}
.afiliasi_menu > a,
.afiliasi_kpi > div{
    border: 1px solid transparent;
    display: flex;
    flex: 0 0 24%;
    padding: 1.5em;
    border-radius:1em;
}
.afiliasi_kpi{
    padding-left: 0;
    padding-right: 0;
    margin-top: -5em;
}
.afiliasi_kpi > div{
    flex: 0 0 32%;
    /* background-color: rgba(13,76,138,.1); */
    border-color: rgba(13,76,138,1);
}
.afiliasi_menu > a > div,
.afiliasi_kpi > div > div{
    display: flex;
    align-items:    center;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
}
.afiliasi_menu .icon,
.afiliasi_kpi .icon{
    display: flex;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
}
.afiliasi_kpi .icon{
    width: 2em;
    height: 2em;
    padding: 0.5em;
    fill: white;
}
.circle-icon{
    display: flex;
    width: 2.6em;
    height: 2.6em;
    border-radius: 1.5em;
    background: var(--blue-midnight);
}
.afiliasi_menu div > .icon{
    font-size: 1.5em;
}
.afiliasi_menu h6,
.afiliasi_kpi h6{
    display: flex;
    align-items: center;
    gap: .25em;
}
.afiliasi_kpi > div > div > div{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
.afiliasi_kpi > div > div > div > div{
    display: flex;
    align-items: center;
    gap: .7em;
}
.afiliasi_kpi span{
    font-size: .8em;
    color: var(--black-60);
}
.afiliasi_kpi.penarikan > div:first-of-type{
    background: var(--blue-midnight);
    position: relative;
    /* padding-bottom: 5em; */
    border-color: transparent;
}
.afiliasi_kpi.penarikan > div:first-of-type h6{
    font-weight: 500;
    color: var(--yellow-gorse);
}
.afiliasi_kpi.penarikan > div:first-of-type .circle-icon{
    background: var(--yellow-gorse);
}
.afiliasi_kpi.penarikan > div:first-of-type .circle-icon .icon{
    fill: var(--blue-midnight);
}
.afiliasi_kpi.penarikan > div:first-of-type h2{
    color: white;
    font-weight: 500;
}
.afiliasi_kpi.penarikan > div:first-of-type .btn{
    background: var(--yellow-gorse);
    color: var(--blue-midnight);
    font-weight: 600;
    border: transparent;
    width: fit-content;
    height: fit-content;    
    margin-top: 1em;
    /* position: absolute;
    left:0;
    bottom: 0;
    width: 100%; */
}
.afiliasi_menu span{
    font-size: .8em;
    color: var(--black-80);
}
.afiliasi_menu > a:first-child{
    background-color: rgb(215, 10, 104,.05);
}
.afiliasi_menu > a:first-child:hover{
    background-color: rgb(215, 10, 104,.1);
    border-color: rgb(215, 10, 104,1);
}
.afiliasi_menu> a:first-child h6{
    color: rgb(215, 10, 104);
}
.afiliasi_menu> a:first-child .icon{
    fill: rgb(215, 10, 104);
}
.afiliasi_menu > a:nth-child(3){
    background: rgba(108,93,211,.05);
}
.afiliasi_menu > a:nth-child(3):hover{
    background-color: rgba(108,93,211,.1);
    border-color: rgba(108,93,211,1);
}
.afiliasi_menu> a:nth-child(3) h6{
    color: rgba(108,93,211,1);
}
.afiliasi_menu> a:nth-child(3) .icon{
    fill: rgba(108,93,211,1);
}
.afiliasi_menu > a:nth-child(2){
    background: rgb(17,126,55,.05);
}
.afiliasi_menu > a:nth-child(2):hover{
    background-color: rgb(17,126,55,.1);
    border-color: rgb(17,126,55,1);
}
.afiliasi_menu> a:nth-child(2) h6{
    color: rgb(17,126,55);
}
.afiliasi_menu> a:nth-child(2) .icon{
    fill: rgb(17,126,55);
}
.afiliasi_menu > a:nth-child(4){
    background-color: rgba(13,76,138,.05);
}
.afiliasi_menu > a:nth-child(4):hover{
    background-color: rgba(13,76,138,.1);
    border-color: rgba(13,76,138,1);
}
.afiliasi_menu> a:nth-child(4) h6{
    color: var(--blue-dark-cerulean);
}
.afiliasi_menu> a:nth-child(4) .icon{
    fill: var(--blue-dark-cerulean)
}

/* ==================== */
.linebreak{
    width: 100%;
    margin: 2em 0em;
    border-style: dashed;
    border-color: var(--grey-20)
}
/* TABEL KODE AFILIASI */
.afiliasi_kode{
    padding:1em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}
.afiliasi_kode .wrapper_section_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;
    margin-bottom: 2em;
}
.afiliasi_kode .wrapper_section_title p{
    color: var(--black-60);
}
.afiliasi_kode .products__row{
    position: relative;
}
.afiliasi_kode .products__row:hover .products__cell{
    background: var(--grey-10);
}
.afiliasi_kode .products__row_head:hover .products__cell{
    background: none;
}
.afiliasi_kode .products__row_head .products__cell{
    color: var(--prim-accent);
}
.afiliasi_kode .page__col:first-child{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    width: 66.6%;
    max-width:66.6%;
}
.afiliasi_kode .page__col:nth-child(2){
    -webkit-box-flex:0;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    width: 33.3%;
    max-width: 33.3%;
    padding: 0 1em;
}
.afiliasi_kode .products__row .products__cell:last-child{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}
/* .afiliasi_kode .products__row_head .products__cell:last-child{
    justify-content: center;
} */
.afiliasi_kode .products__row .products__cell:first-child{
    padding-left: 2em;
    border-radius: 1em 0 0 1em;
}
.afiliasi_kode .products__row .products__cell:last-child{
    border-radius: 0 1em 1em 0;
}
.afiliasi_kode .products__cell .btn,
.btn-bankdetail{
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--prim-accent); */
    background: rgba(0,0,255,.1);
}
.afiliasi_kode .products__cell .btn-danger{
    /* border: 1px solid var(--red-darker); */
    border: none;
    background: rgba(255,0,0,.1);
}
.afiliasi_kode .products__cell .btn .icon{
    margin: 0;
    fill: var(--prim-accent);
}
.afiliasi_kode .products__cell .btn-danger .icon{
    margin: 0;
    font-size: 1.15em;
    fill: var(--red-darker);
    width: 20px;
    height: 20px;
}
.afiliasi_kode .products__cell .btn:hover,
.afiliasi_kode .products__cell .btn:focus{
    border: 1px solid var(--prim-accent);
}
.afiliasi_kode .products__cell .btn:active{
    background-color: var(--prim-accent);
    color: white;
}
.afiliasi_kode .products__cell .btn-danger:hover,
.afiliasi_kode .products__cell .btn-danger:focus{
    border: 1px solid var(--red-darker);
}
.afiliasi_kode .products__cell .btn-danger:active{
    background-color: var(--red-darker);
    color: white;
}
.quality__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.quality__item[href] {
    color: #11142D;
}
.quality__item:not(:last-child) {
    margin-bottom: 48px;
}
.quality__title,.quality__price{
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.quality__details {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.quality__info {
    margin-top: 5px;
    color: #808191;
}  
.quality__btn {
    margin-top: 40px;
}
.quality__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.quality__line .quality__price {
    margin-left: auto;
    margin-top: .5em;
    padding-left: 10px;
    font-size: .9em;
    color: var(--green-darker);
}
.quality__price .status_sukses,
.quality__price .status_pending,
.quality__price .status_gagal {
    font-weight: 500;
    line-height: 2;
    letter-spacing: -.5px;
    padding: .5em 1em;
    border: 1px solid var(--green-darker);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap:.5em;
}
.quality__price .icon{
    font-size: 1em;
    width: 20px;
    height: 20px;
}
.quality__price .status_sukses,
.quality__price .status_sukses .icon{
    color: var(--green-darker);
    fill: var(--green-darker);
}
.quality__price .status_pending{
    border: 1px solid var(--yellow-gold);
    color: var(--yellow-gold);
}
.quality__price .status_pending .icon{
    fill: var(--yellow-gold);
}
.quality__price .status_gagal{
    border: 1px solid var(--red-darker);
    color: var(--red-darker);
}
.quality__price .status_gagal .icon{
    fill: var(--red-darker);
}

/* ================== */
/* POPUP STYLE */
.popup {
    padding: 2.5em;
    padding-top: 3em;
}
.popup .mfp-close{
    top: 20px;
    right: 14px;
}
.popup .mfp-close:hover{
    background-color: hsla(0,0%,85%,0.3);
}
.popup h4{
    line-height: 2;
    display: flex;
    gap: .5em;
    align-items: center;
    font-weight: 500;
}
.popup h4 .icon{
    fill: var(--blue-midnight);
}
.popup > div{
    padding:1em 0 2em;
}
.popup__text{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: .5em;
    padding: 1em .5em 2em;
}
.popup__text > div:first-of-type{
    font-size: .8em;
    display: flex;
    align-items: center;
    align-self: center;
}
.popup.info h4{
    color: var(--blue-midnight);
    fill: var(--blue-midnight);
}
.popup.info .popup__text .icon{
    fill: var(--blue-cerulean);
}
.popup__text > div:last-child{
    font-size: .85em;
    font-style: italic;
}
.popup.info .popup__text > div:last-child{
    color: var(--blue-cerulean);
}
.popup.danger h4{
    color: hsl(0,50%,50%);
}
.popup.danger h4 .icon{
    fill: hsl(0,50%,50%);
}
.popup.danger .delete-confirmation{
    padding: 0.5em 1em;
    background: hsla(0,50%,50%,.1);
    border-radius: 1em;
}
.popup.danger .delete-confirmation .checkbox__text{
    font-size: .9em;
}
.popup.danger .delete-confirmation .checkbox__tick{
    border-color: hsla(0,50%,40%,1);
}
.popup.danger .delete-confirmation .checkbox__input:checked + .checkbox__in .checkbox__tick{
    background: var(--red-darker);
    border-color: var(--red-darker);
}
.popup.danger .delete-confirmation .checkbox:hover .checkbox__tick{
    border-color: var(--red-darker);
}
.popup.danger .delete-confirmation .checkbox:hover .checkbox__text{
    color: var(--red-darker);
}
.popup_settings.success {
    max-width: 25%;
    padding: 5em 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.popup_settings.success h4 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.popup_settings.success h4 .icon {
    font-size: 2em;
}
.popup_settings.success > div {
    padding: 0 0 2em;
}
.popup .popup__form{
    padding: 2em 0 0;
}

/* ================= */
.form_penarikan-wrapper{
    width: 100%;
    background: var(--grey-10);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    padding: 1em 1em 5em 1em;;
}
.afiliasi-form_penarikan{
    margin-top: -3em;
}
.afiliasi-form_penarikan .form{
    padding-top: 2em;
    max-width: 50%;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap:1em;
}
.info-saldo{
    background:var(--blue-midnight);
    background:var(--blue-sky-30);
    padding: 1em;
    border-radius: .5em
}
.form_penarikan{
    padding: 1em;   
}
.form_penarikan .details__item{
    flex: 0 0 100%;
    width: 100%;
    color: var(--blue-midnight);
    padding: 1em;
}
.form_penarikan .details__item > div{
    display: flex;
    justify-content: space-between;
}
.form_penarikan .details__head.h5{
    display: flex;
    font-size: 1em;
    gap: .25em;
    margin: 0;
    font-weight: 700;
}
.form_penarikan .info-saldo .icon{
    fill: white;
    fill: var(--blue-midnight);
    display: flex;
}
.form_penarikan .details__counter.h5{
    font-size: 1.2em;
    color: var(--blue-midnight);
}
.bootstrap-select .dropdown-menu li:first-child a.option-info{
    background-color: white;
}
.form_penarikan .btn{
    padding:1em 1.5em;
}
.form_penarikan .btn-default{
    color: var(--black-russian);
    border: 1px solid var(--black-50);
}

/* ===================== */
/* Banner Afiliasi */
.afiliasi .catalog{
    margin-bottom: 5em;
}
.banner-preview .banner-judul{
    padding: 0 1em 1em 4em;
}
.game:hover .game__title{
    color: var(--prim-accent);
}
.banner-image{
    display: flex;
    justify-content: center;
}
.banner-image img{
    width: 100%;
}
.banner-preview .game__details{
    padding: 0;
}
.banner-preview .game__actions{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
.banner-preview .game__action{
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner-breadcrumb{
    margin-bottom: 1em;
}

/* ============================ */
/* DataTable */
.histori-tabel_pendapatan,
.histori-tabel_penarikan{
    margin-top: 3em;
}
.afiliasi .table thead tr th{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 1em;
    line-height: 1.38462;
    font-weight: 600;
    color: var(--prim-accent);
}
.afiliasi .table thead tr th{
    border-bottom-color: var(--grey-20);
}
.afiliasi .table tbody tr td{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--grey-10);
}
.afiliasi table.dataTable.no-footer{
    border-bottom-color: var(--grey-10);
}
.afiliasi .dataTables_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.afiliasi .dataTables_wrapper .dataTables_length {
    display: flex;
}
.afiliasi .dataTables_wrapper .dataTables_info, 
.afiliasi .dataTables_wrapper .dataTables_paginate{
    width: 100%;
    display: flex;
    justify-content: center;
}
.afiliasi .dataTables_wrapper .dataTables_info{
    margin-top: 5em;
}
.afiliasi .dataTables_wrapper .dataTables_paginate{
    margin-top: -5em;
}
.afiliasi .dataTables_wrapper .dataTables_length label select{
    border-radius: 8px;
    padding: 1em 0.5em;
    border-color: var(--grey-30);
}
.afiliasi .dataTables_wrapper .dataTables_filter{
    margin-left: 2em;
}
.afiliasi .dataTables_wrapper .dataTables_filter input{
    border: 1px solid var(--grey-30);
    padding: 1em 1em 1em 5em;
    margin-left: -3.5em;
    background: transparent;
    border-radius: 8px;
}
.afiliasi .dataTables_wrapper .dataTables_filter input:focus{
    border-color: var(--prim-accent);
}
.afiliasi .dataTables_wrapper .dataTables_filter label,
.afiliasi .dataTables_wrapper .dataTables_length, 
.afiliasi .dataTables_wrapper .dataTables_filter, 
.afiliasi .dataTables_wrapper .dataTables_info, 
.afiliasi .dataTables_wrapper .dataTables_processing, 
.afiliasi .dataTables_wrapper .dataTables_paginate{
    color: var(--prim-accent);
}
.afiliasi .dataTables_wrapper .dataTables_paginate .paginate_button{
    width: fit-content;
    height: fit-content;
}
.afiliasi .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.afiliasi .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    border-radius: 8px;
    background: var(--prim-accent)!important;
    color: white!important;
    border-color: transparent!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border-radius: 8px;
    background: var(--blue-sky)!important;
    color: var(--blue-midnight)!important;
    border: 1px solid transparent!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent!important;
    box-shadow: none;
}
.afiliasi .products__status{
    width: fit-content;
}

.bg-red{background-color: var(--red);color: #370606;}
.bg-yellow{background-color: var(--yellow-picasso);color:#6c5e04;}

.btn-bankdetail .icon{
    font-size: 1em;
    fill: var(--blue-dark-cerulean);
}
.bankdetail > div {
    padding: 1em;
    margin-left: 3em;
}
.bankdetail div div:first-child {
    color: var(--blue-midnight);
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* ============================ */
/* FAQ Informasi */
.afiliasi-informasi{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    padding: 0 10em;
    margin-bottom: 5em;
    margin-top: -3em;
}
.tabs {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tab {
    width: 100%;
    color: var(--blue-midnight);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-20);
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1.75em 1em;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 0;
    /* Icon */
}
.tab-label:hover {
    background: var(--blue-sky-30);
    border-radius: 8px;
}
.tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0em 1em;
    color: var(--blue-dark-cerulean);
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
.tab input{
    margin: 0;
}
.tab input:checked + .tab-label {
    background: var(--blue-summer);
    color: white;
    border-radius: 8px 8px 0 0;
    font-weight: 500;
    margin: 0;
}
.tab input:checked + .tab-label::after {
    transform: rotate(90deg);
}
.tab input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    line-height: 2;
    border-radius: 0 0 8px 8px;
    border: 1px solid var(--blue-sky-30);
}
.tab-content p{
    margin: .55em 0;
}
.tab-content span{
    text-decoration: underline;
}
.tab-content img{
    border: 1px solid var(--grey-30);
    margin: auto;
    border-radius: 8px;
}
.search_area{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 2em;
}
.search_area .icon{
    position: absolute;
    background: var(--blue-midnight);
    fill: white;
    width: 5em;
    height: 100%;
    padding: 1em;
    border-radius: 8px 0 0 8px;
}
.search_info{
    width:100%;
    padding:1em;
    padding-left: 6em;
    border: 1px solid var(--blue-midnight);
    border-radius: 8px;
}
.nothingFound{
    display: none;
}
.nothingFound.show{
    display: flex!important;
    padding: 1em;
    border-bottom: none;
}
.tab.nothingFound p {
    padding: 1em;
    text-align: center;
}
.tab.nothingFound p:first-of-type{
    font-size: 3em!important;
    padding-bottom: 0;
}

@media only screen and (max-width:1440px){
    .afiliasi_kpi h2{
        font-size: 2.2em;
    }
}
@media only screen and (min-width: 1420px) {
    .afiliasi_report{
        display: flex;
        justify-content: space-evenly;
    }
    .afiliasi_report .page__col:first-child {
        flex: 0 0 57%;
        width: 63%;
    }
    .afiliasi_report .page__col:nth-child(2) {
        flex: 0 0 40%;
        width: 35%;
    }
    .afiliasi_report .details__item {
        width: 100%;
        flex: 0 0 100%;
        background: white;
        padding:1em 1.25em;
    }
    .afiliasi_saldo_icon{
        width: 40%;
        right: 4%;
        top: 30%;
    }
    .afiliasi_komisi_stat .details_statements .details__container{
        border-color: var(--grey-30);
        padding-left: 5em;
        margin-left: -4em;
    }
    .afiliasi_report .afiliasi_komisi_stat .details__counter {
        font-size: 18px;
        margin-bottom: 0.33em;
    }
}
@media only screen and (max-width: 1419px) {
    .afiliasi_report .page__col:first-child ,
    .afiliasi_report .page__col:nth-child(2) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .afiliasi_saldo .details__container{
        font-size: 1.5em;
    }
    .page__group{
        margin: 0;
    }
    .page__group .products_statement{
        width: 100%;
    }
}
@media only screen and (max-width:1339px){
    .afiliasi_kode .page__col:nth-child(2){
        margin: 0;
    }
    .page__col:nth-child(2) .widget {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
    .page__col:nth-child(2) .widget:first-child{
        margin: 0;
    }
    .quality__item:not(:last-child){
        margin-bottom: 28px;
    }
}
@media only screen and (min-width: 1024px){
    .dataTables_wrapper .dataTables_scroll{
        width:100%
    }
}
@media only screen and (max-width: 1024px){
    .afiliasi_menu{
        padding:1.5em 0
    }
    .afiliasi_menu > a{
        flex: 0 0 49%;
    }
    .afiliasi_kode{
        flex-direction: column;
    }
    .afiliasi_kode .page__col:first-child,
    .afiliasi_kode .page__col:last-child{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .afiliasi_kode .page__col:nth-child(2){
        padding: 0;
    }
    .afiliasi_kode .page__col:nth-child(2) > div{
        width: 100%;
    }
    .afiliasi-form_penarikan .form{
        max-width: 75%;
    }
    .afiliasi_kpi > div{
        flex: 0 0 49%;
    }
    .afiliasi_kpi > div:first-of-type{
        flex: 0 0 100%;
    }
    .afiliasi .dataTables_wrapper{
        display: block;
    }
    .afiliasi-informasi{
        padding: 0;
    }
}
@media only screen and (min-width: 768px){
    .modal-dialog {
        width: 500px;
    }
    .histori-tabel_pendapatan .alert-info{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .breadcrumb-list li{
        letter-spacing: 0;
    }
    .afiliasi .player__wrap{
        left: 0;
    }
    .afiliasi .player__note{
        line-height: 1.75;
    }
    .products_statement{
        overflow-x: scroll;
    }
    .afiliasi-form_penarikan .popup__text{
        justify-content: flex-end;
    }
    .histori-tabel_pendapatan .alert-info{
        display: block;
    }
    .afiliasi .dataTables_wrapper .dataTables_length, 
    .afiliasi .dataTables_wrapper .dataTables_filter{
        width: 100%;
        margin: 1em 0;
    }
    .afiliasi .dataTables_wrapper .dataTables_filter label{
        display: flex;
        width: 100%;
        align-items: center;
        margin-left: 1em;
    }
    .afiliasi .dataTables_wrapper .dataTables_filter input{
        width: 100%;
        display: block;
    }
}
@media only screen and (min-width:480px){
    .histori-tabel_penarikan .alert-info{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    .afiliasi_saldo_icon{
        right: -20%;
        top: 55%;
        width: 50%;
    }
    .afiliasi_saldo .icon{
        font-size: 1.2em;
    }
    .afiliasi_saldo .details__container{
        padding: 1em 1.5em;
    }
    .afiliasi_report .details__item {
        width: 100%;
        flex: 0 0 100%;
        background: white;
        padding:1em 1.25em;
    }
    .afiliasi_saldo .details__counter{
        font-size: 1.85em;
    }
    .afiliasi_saldo .btn{
        display: flex;
        width: fit-content;
        font-size: 0.75em;
        height: auto;
        padding:1em;
    }
    .afiliasi_report .details__head.h5 {
        font-size: 0.8em;
        margin-top: 0;
    }
    .afiliasi_komisi_stat .details_statements .details__container{
        padding: 1em 1.5em;
        border-color: var(--grey-30);
        padding-top: 4em;
        margin-top: -4em;
    }
    .afiliasi_report .afiliasi_saldo .details__item:first-of-type{
        padding:1em;
        padding-left: 0;
    }
    .afiliasi_menu > a{
        flex: 0 0 100%;
        padding: 2em;
    }
    .afiliasi_menu h6{
        font-size: 1.5em;
        line-height: 2;
    }
    .afiliasi_menu span{
        font-size: 1em;
    }
    .afiliasi .catalog_channel{
        background: white;
        border: 1px solid var(--grey-chateau);
        border-bottom: none;
        margin-left: -2.1em;
        margin-right: -2.1em;
    }
    .afiliasi_kode .wrapper_section_title{
        padding: 0 1em;
        position: relative;
    }
    .afiliasi_kode .wrapper_section_title h4{
        padding-right: 20%;
        padding-top: .75em;
    }
    .afiliasi_kode .wrapper_section_title p{
        padding-top: 2em;
    }
    .afiliasi_kode .wrapper_section_title div > .btn{
        min-width: 60px;
        min-height: 60px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .afiliasi_kode .btn .icon{
        margin: 0;
    }
    .afiliasi_kode .products__table{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }
    .afiliasi_kode .products__row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--grey-50);
        padding: 0 1em
    }
    .afiliasi_kode .products__row .products__cell:first-child{
        padding-left: 0;
    }
    .afiliasi_kode .products__row .products__cell:last-child{
        position: absolute;
        right: 5%;
        height: 100%;
        align-items: center;
    }
    .afiliasi_kode .products__cell{
        padding: .5em;
        flex: 0 0 32%;
        border: none;
    }
    .afiliasi_kode .products__cell:first-child{
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        border-bottom: none;
    }
    .afiliasi_kode .products__cell:first-child{
        padding-left: 0;
        padding-top: 1em;
        font-size: 1.1em;
    }
    .afiliasi_kode .products__row .products__cell:nth-child(2){
        border-left: 4px solid var(--yellow-gorse);
        padding-left: .5em;
        flex: 0 0 20%;
    }
    .afiliasi_kode .products__row_head .products__cell:nth-child(2){
        border-left: 4px solid var(--grey-30);
        padding-left: .5em;
        flex: 0 0 36%;
    }
    .afiliasi_kode .products__row_head .products__cell{
        color: var(--prim-accent);
        font-weight: 700;
    }
    .afiliasi_kode .products__row_head{
        border-bottom: 2px solid var(--prim-accent);
        background-color: var(--grey-10);
    }
    .afiliasi_kode .products__cell:not(:first-child){
        margin-bottom: 1.5em;
    }
    .mfp-content{
        padding:0 1em;
    }
    .popup__form{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .popup__text{
        margin-left: 0;
    }
    .popup_settings.success,
    .popup.info{
        max-width: 100%;
    }
    .form_penarikan-wrapper{
        background-color: white;
        padding: 0;
        padding-top: 1em;
    }
    .afiliasi-form_penarikan .form{
        max-width: 100%;
        padding: 0;
    }
    .form_penarikan .btn{
        width: 100%;
        margin-bottom: .5em;
    }
    .afiliasi_kpi > div, 
    .afiliasi_kpi > div:first-of-type{
        flex: 0 0 100%;
    }
    .histori-tabel_penarikan .alert-info{
        display: block;
    }
}
@media only screen and (max-width: 376px){
    .afiliasi_report .details__item{
        padding: 0;
    }
    .afiliasi_saldo .afiliasi_saldo_icon{
        right: -15%;
        width: 55%;
    }
    .afiliasi_report .details__head.h5{
        font-size: .7em;
    }
    .afiliasi_saldo .details__counter{
        font-size: 1.7em;
    }
    .afiliasi_saldo .btn{
        font-size: .6em;
        padding: 1em;
        height: auto;
        margin-bottom: 1em;
    }
    .afiliasi_komisi_stat .details_statements .details__container{
        margin-top: -4em;
        padding-top: 5em;
    }
    .afiliasi_komisi_stat .details_statements .details__item{
        padding: 1em 0;
    }
    .afiliasi_komisi_stat .details_statements .details__item:last-of-type{
        margin-bottom: 1em;
    }
    .afiliasi_kode .wrapper_section_title h4{
        padding-right: 16%;
    }
    .afiliasi_kode .wrapper_section_title p{
        padding-top: 1em;
    }
}
.class_control div > a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em .5em;
    border-radius: 8px;
    border: 1px transparent solid;
  }
  .class_control div:last-of-type > a{
    justify-content: flex-end;
  }
  .class_control div > a:hover{
    border: 1px solid var(--blue-midnight);
    text-decoration: underline;
  }
  .icon-edit {
    width: 1em;
    height: 1em;
    fill: #11142D;
    }  
    .icon-editor-bold {
    width: 0.83em;
    width: 1.1em;
    height: 1em;
    fill: #1b1d21;
    }
    .icon-ticket {
    width: 1.2em;
    height: 1.2em;
    fill: #1b1d21;
    }
    .icon-discount {
    width: 1.3em;
    height: 1.3em;
    fill: #1b1d21;
    }
    .icon-certificate{
    width: 1em;
    height: 1em;
    fill: #1b1d21;
    }
    .icon-trash,
    .icon-warning,
    .icon-loading,
    .icon-check,
    .icon-report,
    .icon-cash-out,
    .icon-image-stack,
    .icon-information,
    .icon-right-arrow{
    width: 1.2em;
    height: 1.2em;
    }
      
    .breadcrumb {
        background-color: unset !important;
    }