p{
    color: blue;
}

p.warna{
    color: blueviolet;
}

body{
    background-image: url(../img/pattern.jpg);
}

header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-left: 20px;
}

a{
    text-decoration: none;
}

article{
    border-bottom: 2px solid black;
}

section{
    background-color: snow;
    margin: 150px; 50px; 75px;
    padding: 25px;
}

h1,h5{
    text-align: center;
}
h5{
    color: aliceblue;
    text-align: center;
}

footer{
    padding: 20px;
    background-color: black;
}